<% @page_title = "Account Settings" %>

<% content_for :header do %>
  <h1 class="header__title">
    <%= @page_title %>
    <% unless Current.user.admin? %>
      <div class="txt-normal font-weight-normal">Only admins can change these settings</div>
    <% end %>
  </h1>
<% end %>

<section class="billing panel shadow center margin-block-end">
  <h2>Subscription</h2>
  <p>Current plan: <strong><%= Current.account.plan.name %></strong></p>

  <% if Current.account.plan.free? %>
    <%= button_to "Upgrade to Monthly", account_subscription_path, class: "btn btn--primary", data: { turbo: false } %>
  <% end %>

  <% if Current.account.subscription %>
    <%= render "account/settings/subscription", subscription: Current.account.subscription %>
  <% end %>
</section>


<section class="settings margin-block-start-half">
  <div class="settings__panel settings__panel--users panel shadow center">
    <%= render "account/settings/name", account: @account %>
    <%= render "account/settings/users", users: @users %>
  </div>

  <div class="settings__panel settings__panel--entropy panel shadow center">
    <%= render "account/settings/entropy", account: @account %>
    <%= render "account/settings/export" %>
  </div>
</section>
