<% content_for :header do %>
  <nav>
    <%= link_to splats_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">All Splats</span>
    <% end %>

    <div class="flex-item-justify-end" data-controller="dialog">
      <%= tag.button class: "btn flex-item-justify-end", popovertarget: "splat-edit-panel" do %>
        <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Edit <%= @splat.title %></span>
      <% end %>

      <dialog class="panel" id="splat-edit-panel" data-dialog-target="dialog" popover>
        <div class="flex pad">
          <%= turbo_frame_tag @splat, :edit, src: edit_splat_path(@splat), target: "_top" %>
        </div>
      </dialog>
    </div>
  </nav>
<% end %>

<div class="splat__perma flex justify-center center margin-block-end-double">
  <%= render @splat %>
</div>

<section class="comments align-center panel center borderless margin-block flex flex-wrap gap" style="--splat-color: <%= @splat.color %>;">
  <%= render partial: "comments/comment", collection: (@splat.comments + @splat.boosts).sort_by { |comment| comment.updated_at } %>
  <%= render "comments/new" %>
</section>
