<% @page_title = @board.name %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: "#{@board.name} | #{Current.account.name}" %>
  <%= tag.meta property: "og:description", content: format_excerpt(@board&.public_description, length: 200) %>
  <%= tag.meta property: "og:image", content: "#{request.base_url}/opengraph.png" %>
  <%= tag.meta property: "og:url", content: published_board_url(@board) %>

  <%= tag.meta property: "twitter:title", content: "#{@board.name} | #{Current.account.name}" %>
  <%= tag.meta property: "twitter:description", content: format_excerpt(@board&.public_description, length: 200) %>
  <%= tag.meta property: "twitter:image", content: "#{request.base_url}/opengraph.png" %>
  <%= tag.meta property: "twitter:card", content: "summary_large_image" %>
<% end %>

<% content_for :header do %>
  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @page_title %></span>
  </h1>
<% end %>

<% if @board.public_description.present? %>
  <div class="card__board-public-description rich-text-content txt-align-center center margin-block-end" data-controller="syntax-highlight">
    <%= @board.public_description %>
  </div>
<% end %>

<%= render "public/boards/show/columns", page: @page, board: @board %>

<% content_for :footer do %>
  <%= render "public/footer" %>
<% end %>
