<% @page_title = "Home" %>
<% @header_class = "header--events" %>

<%= turbo_stream_from :activity_summaries %>

<% content_for :header do %>
  <%= render "filters/menu", user_filtering: @user_filtering %>
  <%= render "events/index/add_card_button", user_filtering: @user_filtering %>

  <h1 class="header__title">
    <span>Activity in</span>
    <%= render "events/index/filter", user_filtering: @user_filtering %>
  </h1>
<% end %>

<div class="events" id="activity">
  <%= render "events/day", day_timeline: @day_timeline %>
</div>
<%= event_next_page_link(@day_timeline.next_day) %>
