<%= turbo_frame_tag @card, :edit do %>
  <%= form_with model: @card, url: collection_card_path(@card.collection, @card), class: "card__content", data: { controller: "autoresize form" } do |form| %>
    <h1 class="card__title">
      <%= form.label :title, class: "flex flex-column align-center autoresize__wrapper", data: { autoresize_target: "wrapper", autoresize_clone_value: "" } do %>
        <%= form.text_area :title, class: "input input--textarea full-width borderless txt-align-start card-field__title autoresize__textarea",
              required: true, autofocus: true, placeholder: "Name it…", rows: 1,
              data: { autoresize_target: "textarea", action: "input->autoresize#resize keydown.enter->form#submit:prevent keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel focus->form#select" } %>
      <% end %>
    </h1>

    <%= form.rich_textarea :description, class: "card-field__description rich-text-content",
          placeholder: "Add some notes, context, pictures, or video about this…",
          data: { action: "keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop" } do %>
      <%= mentions_prompt(@card.collection) %>
      <%= cards_prompt %>
    <% end %>
    </div>
    <%= form.button "Save changes", type: :submit, class: "btn btn--reversed", style: "--btn-background: #{@card.color}" %>
    <%= link_to "Close editor and discard changes", collection_card_path(@card.collection, @card), data: { form_target: "cancel" }, hidden: true %>
  <% end %>
<% end %>
