<% @page_title = @user_filtering.selected_collections_label %>
<% turbo_exempts_page_from_cache %>

<%= render "filters/broadcasts", filter: @filter %>

<% content_for :head do %>
  <%= tag.meta property: "og:title", content: @page_title %>
  <%= tag.meta property: "og:description", content: Account.sole.name %>
  <%= tag.meta property: "og:url", content: cards_url(@filter.as_params) %>
<% end %>

<% content_for :header do %>
  <%= render "filters/menu", user_filtering: @user_filtering %>

  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title overflow-ellipsis" style="view-transistion-name: card-collection-title">
    <%= @user_filtering.selected_collections_label %>
  </h1>

  <div class="header__actions header__actions--end">
    <% if collection = @filter.single_collection %>
      <%= render "cards/collection_settings", collection: collection %>
    <% end %>
  </div>
<% end %>

<%= render "filters/settings", user_filtering: @user_filtering %>

<%= tag.div data: {
      controller: "drag-and-drop",
      drag_and_drop_dragged_item_class: "drag-and-drop__dragged-item",
      drag_and_drop_hover_container_class: "drag-and-drop__hover-container",
      drag_and_drop_url_value: cards_drops_path(**@filter.as_params),
      action: "
        dragstart->drag-and-drop#dragStart
        dragover->drag-and-drop#dragOver
        drop->drag-and-drop#drop
        dragend->drag-and-drop#dragEnd" } do %>

  <%= render "cards/index/columns", user_filtering: @user_filtering, on_deck: @on_deck, considering: @considering, doing: @doing, closed: @closed, cache_key: @cache_key %>
<% end %>
