<% filter = user_filtering.filter %>

<%= tag.div class: "quick-filter position-relative",
      data: { controller: "dialog", action: "keydown.esc->dialog#close click@document->dialog#closeOnClickOutside", filter_show: user_filtering.show_tags? } do %>
    <button class="btn input input--select flex-inline txt-x-small" data-action="click->dialog#open:stop">
      <span class="overflow-ellipsis">
        <% if filter.tags.any? %>
          <%= filter.tags.map(&:hashtag).to_sentence(two_words_connector: " or ", last_word_connector: ", or ") %>
        <% else %>
          Tagged…
        <% end %>
      </span>
    </button>

    <%= filter_dialog "Tagged…" do %>
      <strong class="popup__title txt-nowrap">Tagged…</strong>

      <% if user_filtering.tags.many? %>
        <%= text_field_tag :search, nil, placeholder: "Filter…", class: "input input--transparent txt-small", autofocus: true,
              type: "search", autocorrect: "off", autocomplete: "off", data: { "1p-ignore": "true", filter_target: "input", action: "input->filter#filter" } %>
      <% end %>

      <ul class="popup__list" data-filter-target="list">
        <% user_filtering.tags.each do |tag| %>
          <li class="popup__group" data-filter-target="item" data-navigable-list-target="item">
            <%= form_with url: cards_path, method: :get, class: "full-width", data: { controller: "form" } do |form| %>
              <% filter.as_params.except(:tag_ids).each do |key, value| %>
                <%= filter_hidden_field_tag key, value %>
              <% end %>

              <% filter.tags.each do |existing_tag| %>
                <% unless existing_tag == tag %>
                  <%= hidden_field_tag "tag_ids[]", existing_tag.id %>
                <% end %>
              <% end %>

              <% unless filter.tags.include?(tag) %>
                <%= hidden_field_tag "tag_ids[]", tag.id %>
              <% end %>

              <%= hidden_field_tag :expand_all, true, disabled: !user_filtering.expanded?, data: { toggle_enable_target: "element" } %>

              <%= form.button type: "submit", class: "popup__item btn" do %>
                <span class="overflow-ellipsis flex-item-grow"><%= tag.hashtag %></span>
                <% if filter.tags.include?(tag) %>
                  <%= icon_tag "check", class: "checked flex-item-justify-end" %>
                <% end %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
<% end %>
